

    <h1>Burada ne yaşanıyor?</h1>
    <form class="" action="/compose2" method="post">
      <div class="form-group center">
        <!-- <label>Title</label> -->
        <!--<input class="form-control" type="text" name="postTitle">-->
        <label>Hayal Alanı</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        
      </div>
      <button class="btn btn-primary" type="submit" name="button">Yayınla</button>
    </form>
